doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    title HISTORY
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Righteous&family=Space+Mono&family=Titan+One&display=swap", rel="stylesheet")

body 
    header
        div.Developer 
            nav.nav
                div.planetExpress
                    img.imgPlanet(src="logo.png")
                
                div.Nombrelogo
                    p.logo 
                        span
                            strong Planet Express
                div.register
                    a(href="./registro")
                        b Registro
                div.place_order
                    a(href="./place_order")
                        b Haz un pedido
                div.pago
                    a(href="./pago")
                        b Pago
                div.tracking
                    a(href="./tracking")
                        b Seguimiento 
                div.contact
                    a(href="./contact")
                        b Contacto
                div.welcome
                    a#nameD(href="./welcome")
                        b Bienvenido 
                    a#diconnectD(href="")   
    main



 

footer.footer-distributed  
    div.footer-left
        p.footer-links 
            a.link-1(href="./landingPage") Home
            
            a(href="./login") Iniciar sesión
            a(href="./registro") Registro 
            a(href="./place_order") Haz un pedido
            a(href="./pago") Pago
            a(href="./tracking") Seguimiento
            a(href="./contact") Contacto
            a(href="./history") Historial 
        p.footer-company-name Planet Express © 2022

    div.footer-center
        div
            i(class="fa fa-map-marker")  
            p Calle Copos nº4 #[br] Galapagar, Madrid
              
        div
            i(class="fa fa-phone")
            p +34 681090036
        div 
            i(class="fa fa-envelope")
                p
                    a(href="mailto:support@company.com") 02sergioconde@gmail.com
    div.footer-right
        p.footer-company-about #[span About the company :] Planet express, nació; como una alternativa de mensajería urgente que prestaba servicios en Madrid.    
        



 

