doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='style.css')
  title Login
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Righteous&family=Space+Mono&family=Titan+One&display=swap', rel='stylesheet')
header
  .Developer
    nav.nav
      .planetExpress
        img.imgPlanet(src='logo.png')
      .Nombrelogo
        p.logo
          span
            strong Planet Express
      .register
        a(href='./registro')
          b Register
      .place_order
        a(href='./place_order')
          b Place an order
      .payment
        a(href='./payment')
          b Payment
      .tracking
        a(href='./tracking')
          b Tracking
      .contact
        a(href='./contact')
          b Contact
      .welcome
        a#nameD(href='./welcome')
          b Welcome
        a#disconnectD(href='', onclick='desconectarD();')
          b Disconnect
main
  h1 Hello World, #{name}!
  form(action='/login', method='POST')
    .formulario
      fieldset#formularioM
        legend LOGIN
        .contenedor-campos
          .campo
            label Email
            input#emailLoginS(type='email', placeholder='Introduce tu email', name='emailus')
          .campo
            label Contrase&ntilde;a
            input#passwordLoginS(type='password', placeholder='Introduce tu contraseña', name='contrasenaus')
        .enviar
          input.boton(type='submit', value='Log In')
          br
          br
footer.footer-distributed
  .footer-left
    p.footer-links
      a.link-1(href='./landingPage') Home
      a(href='./login') Login
      a(href='./registro') Register
      a(href='./place_order') Place an order
      a(href='./payment') Payment
      a(href='./tracking') Tracking
      a(href='./contact') Contact
      a(href='./history') History
    p.footer-company-name Planet Express &copy; 2022
  .footer-center
    div
      i.fa.fa-map-marker
      p
        | Calle Copos n&ordm;4
        br
        |                     Galapagar, Madrid
    div
      i.fa.fa-phone
      p +34 681090036
    div
      i.fa.fa-envelope
      p
        a(href='mailto:support@company.com') 02sergioconde@gmail.com
  .footer-right
    p.footer-company-about
      span About the company :
      |                 Planet express, naci&oacute; como una alternativa de mensajer&iacute;a urgente que prestaba servicios en Madrid.
