html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
  }
  
  body {
    font-size: 16px;
    height: 100vh;
  }
  .Developer {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    
  }

  .planetExpress {
    width: 30%;

  }
  .imgPlanet {
    width: 100%;
  }
  .imgPlanet:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  nav {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    border-radius: 0.5rem;
    border: solid 3px black;
  }
  .Nombrelogo {
    width: 20%;
    text-decoration: none;
  }
  
  .logo {
    font-size: 50px;
    margin-left: 10%;
  }
  
  .login {
    width: 20%;
    font-size: 20px;
  }
  
  .login a:hover {
    font-size: 25px;
    color: white;
  }
  
  .register {
    width: 20%;
    font-size: 20px;
  }
  
  .register a:hover {
    font-size: 25px;
    color: white;
  }
  
  .place_order {
    width: 20%;
    font-size: 20px;
  }
  
  .place_order a:hover {
    color: white;
    font-size: 25px;
  }

  .payment {
    width: 20%;
    font-size: 20px;
  }
  
  .payment a:hover {
    color: white;
    font-size: 25px;
  }

  .tracking {
    width: 20%;
    font-size: 20px;
  }
  
  .tracking a:hover {
    color: white;
    font-size: 25px;
  }

  .contact {
    width: 20%;
    font-size: 20px;
  }
  
  .contact a:hover {
    color: white;
    font-size: 25px;
  }

  .history {
    width: 20%;
    font-size: 20px;
  }
  
  .history a:hover {
    color: white;
    font-size: 25px;
  }

  .welcome {
    width: 20%;
    font-size: 20px;
  }
  
  .welcome a:hover {
    color: white;
    font-size: 25px;
  }

  
  a {
    color: black;
    text-decoration: none;
  }

  .nombre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }

  .mensaje {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 3rem;
  }






























  
/* Estilos del foooter  */

.footer-distributed {
    background: black;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    background-image: linear-gradient(to right, rgb(106, 17, 203) 0%, rgb(37, 117, 252) 100%);
    border-radius: 0.5rem;
    border: solid 3px black;
    margin-top: 21rem;
}
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left {
    width: 40%;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
    font-size: 20px;
  }
  
  .footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
  }
  
  .footer-distributed .footer-company-name {
    color: white;
    font-size: 14px;
    margin: 0;
    font-size: 20px;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center {
    width: 35%;
  }
  
  .footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
    font-size: 20px;
  }
  
  .footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer-distributed .footer-center p a {
    color: rgb(255, 115, 0);
    text-decoration: none;
  }
  
  .footer-distributed .footer-links a:before {
    content: '|';
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right {
    width: 20%;
  }
  
  .footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    font-size: 20px;
  }
  
  .footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 25px;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 880px) {
    .footer-distributed {
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i {
      margin-left: 0;
    }
  }