<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>

</head>

<body>
  <header>
    <div class="Developer">
      <nav class="nav">
        <div class="planetExpress">
          <img class="imgPlanet" src="logo.png" />
        </div>

        <div class="Nombrelogo">
          <p class="logo">
            <span><strong>Planet Express</strong></span>
          </p>
        </div>
        <div class="login">
          <a href="./login"><b>Inicio de sesion</b></a>
        </div>
        <div class="register">
          <a href="./registro"><b>Registro</b></a>
        </div>

        <div class="tracking">
          <a href="./tracking"><b>Seguimiento</b></a>
        </div>
        <div class="contact">
          <a href="./contact"><b>Contacto</b></a>
        </div>



      </nav>
  </header>


  <main>
    <div class="nombre">
      <h1>Planet Express</h1>
    </div>

    <div class="mensaje">
      <h3>Bienvenidos a Planet Express. Somos una pequeña compañia de transporte y mensajería.<br>
        Estamos orgullosos de nuestro compromiso con la innovación, diseñando nuevos servicios y soluciones centrando
        el
        proceso de entrega y envio de neustros clientes.<br>
        Prestando servicios en la Comunidad de Madrid.
      </h3>
    </div>



  </main>






  <footer class="footer-distributed">

    <%- include('../partials/footer'); %>
  </footer>
</body>

</html>