<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<body>
    <header>
        <div class="Developer">
            <nav class="nav">
                <div class="planetExpress">
                    <img class="imgPlanet" src="logo.png" />
                </div>

                <div class="Nombrelogo">
                    <p class="logo">
                        <span><strong>Planet Express</strong></span>
                    </p>
                </div>

                <div class="register">

                    <a href="./registro"><b>Registro</b></a>
                </div>
                <div class="tracking">
                    <a href="./tracking"><b>Seguimiento</b></a>
                </div>
                
                <div class="welcome">

                    <div class="welcome">
                        <a href="./landingPage" id="nameD"><b>Bienvenido</b></a>
                    </div>
                </div>
            </nav>
    </header>


    <main>
        <form action="/login" method="POST">
            <div class="formulario">
                <fieldset id="formularioM">

                    <legend>INICIO DE SESI칩N</legend>


                    <div class="contenedor-campos">


                        <div class="campo">
                            <label>Email</label>
                            <input id="emailLoginS" type="email" placeholder="Introduce tu email Ej:02sergioconde@gmail.com" name="emailus"
                           >
                        </div>

                        <div class="campo">
                            <label>Contrase침a</label>
                            <input id="passwordLoginS" type="password" placeholder="Introduce tu contrase침a Ej:Aa1-sergio"
                                name="contrasenaus">
                        </div>
                        <style type="text/css" media="screen">
                            #mensajeAlerta{
                                color: red;
                            }
                        </style>
                        <%   try{if (!loginmal) {%>
                            <p id="mensajeAlerta"><b>Email o contrase침a incorrectos</b></p>
                        <% } }catch (e){console.log(e)} %>


                    </div>
                    <div class="enviar">
                        <input type="submit" class="boton" value="Log In"></input>
                        <br><br>
                    </div>

            </div>
            </fieldset>
        </form>

    </main>







    <footer class="footer-distributed">

        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>