<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<body>
    <header>
        <div class="Developer">
            <nav class="nav">
                <div class="planetExpress">
                    <img class="imgPlanet" src="logo.png" />
                </div>

                <div class="Nombrelogo">
                    <p class="logo">
                        <span><strong>Planet Express</strong></span>
                    </p>
                </div>

                <div class="login">
                    <a href="./login"><b>Inicio de sesion</b></a>
                </div>
                <div class="place_order">
                    <a href="./place_order"><b>Haz un pedido</b></a>
                </div>
                <div class="tracking">
                    <a href="./tracking"><b>Seguimiento</b></a>
                </div>
                <div class="contact">
                    <a href="./contact"><b>Contacto</b></a>
                </div>
                <div class="welcome">
                    <a href="./landingPage" id="nameD"><b>Bienvenido</b></a>
                </div>
            </nav>
    </header>

    <main>
        <form action="/login" method="POST">
            <div class="formulario">

                <legend>REGISTRO</legend>

                <div class="contenedor-campos">


                    <div class="campo">
                        <label>Nombre</label>
                        <input id="nombreRegistroS" type="text"
                            placeholder="Introduce tu Nombre y Apellidos ej. Sergio Conde Alcalde">
                    </div>

                    <div class="campo">
                        <label>DNI</label>
                        <input id="DNIRegistroS" type="text" placeholder="Introduce tu DNI ej. 12345678A">
                    </div>





                    <div class="campo">
                        <label>Teléfono</label>
                        <input id="telefoRegistroS" type="tel" placeholder="Introduce tu Número ej. 681081123">
                    </div>


                    <div class="campo">
                        <label>Email</label>
                        <input id="emailRegistroS" type="email" placeholder="Introduce tu email">
                    </div>

                    <div class="campo">
                        <label>Dirección 1</label>
                        <input id="direccion1" type="text" placeholder="Introduce tu dirección">
                    </div>

                    <div class="campo">
                        <label>Dirección 2</label>
                        <input id="direccion2" type="text" placeholder="Introduce tu dirección">
                    </div>

                    <div class="campo">
                        <label>Dirección 3</label>
                        <input id="direccion3" type="text" placeholder="Introduce tu dirección">
                    </div>

                    <div class="enviar" id="mensajeErrorS">
                        <button class="boton" type="submit" value="Enviar">Registrar</button>
                    </div>

                </div>
            </div>
        </form>

    </main>

    <footer class="footer-distributed">

        <%- include('../partials/footer.ejs'); %>
    </footer>
</body>

</html>