<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<body>
    <header>
        <div class="Developer">
            <nav class="nav">
                <div class="planetExpress">
                    <img class="imgPlanet" src="logo.png" />
                </div>

                <div class="Nombrelogo">
                    <p class="logo">
                        <span><strong>Planet Express</strong></span>
                    </p>
                </div>

                <div class="register">
                    <a href="./registro"><b>Registro</b></a>
                </div>
                <div class="place_order">
                    <a href="./place_order"><b>Haz un pedido</b></a>
                </div>
                <div class="tracking">
                    <a href="./tracking"><b>Seguimiento</b></a>
                </div>
                <div class="contact">
                    <a href="./contact"><b>Contacto</b></a>
                </div>
                <div class="welcome">
                    <a href="./landingPage" id="name"><b>Bienvenido</b></a>
                    <a id="disconnectD" href="" onclick="desconectarD();"><b>Desconectar</b></a>
                </div>
            </nav>
    </header>
<main>

    <div class="cajaGracias">
        Muchas gracias por ponerse en contacto con Planet Express ©<br>
        Para nosotros es muy importante su opinión y agradecemos sus comentarios<br>
            En la mayor brevedad posible nos pondremos en contacto.<br>
            Un cordial saludo de parte de todo el equipo.
          
      </div>
   
</main>
<footer class="footer-distributed">
  
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>